{:kotoba.app/id "cloud.itonami.isic-7740", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicfe3h5z735jkum7sifqb3oqybiduiahvh6hjjqvhvfb65tdvhcii", :kotoba.app/embed-url "ipfs://bafkreicfe3h5z735jkum7sifqb3oqybiduiahvh6hjjqvhvfb65tdvhcii", :published {:archive "https://kotobase.net/ipfs/bafkreicfe3h5z735jkum7sifqb3oqybiduiahvh6hjjqvhvfb65tdvhcii", :size 73206, :put-status 201, :get-status 200, :at "2026-08-15T13:49:05.585Z"}}
